<!DOCTYPE html>

<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Spotify BPM and Key Generator</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>What is this?</h1>
		<p>Spotify Key and BPM is a tool to help musicians create a setlist, see the keys and bpm of each of your songs.</p>
		<p>This tool uses Spotifys own developer API to allow it to see your songs. When you login with spotify, we only see your songs.</p>
		
		</div>
	</div>
	
	
		<div class="right">
		<h5>Login With Spotify</h5>
		<p>By redirecting you to spotify they can ensure we only access data that you allow us to see.</p>
		<div class="inputs">
			<h2><a href="{{auth}}">
				<button class="button-64">Login With Spotify API</button>
			</a></h2>
		</div>
			<br><br><br><br><br>
			
	</div>
	
</div>
<!-- partial -->
  
</body>
</html>
